<div class="container-l">
  <div class="header-page">
    <h1>New Application</h1>
  </div>
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe + " " + "Back", applications_path %>
  <div class="sheet-application">
    <%= simple_form_for(@application) do |f| %>
      <%= f.input :company %>
      <%= f.input :link %>
      <%= f.input :status, collection: Application::STATUS %>
      <%= f.input :notes, :input_html => { :rows => 6 } %>
      <div class="d-flex" style="margin-top: 50px">
        <%= f.button :submit, class:"button", style:"margin: 0 auto" %>
      </div>
    <% end %>
  </div>
</div>
