<div class="container-l">
  <div class="header-page">
    <h1>Application – <%= @application.company %></h1>
    <div class="icon-btn">
      <%= link_to "<i class='fa-solid fa-pen'></i>".html_safe, edit_application_path(@application) %>
    </div>
  </div>
  <%= link_to "<i class='fa-solid fa-arrow-left'></i>".html_safe + " " + "Back", applications_path %>
  <div class="sheet-application">
    <div class="sheet-application-header">
      <div>
        <h4><%= @application.company %></h4>
        <p><%= @application.link %></p>
      </div>
      <div>
        <h4 style="color: <%= @status_color %>"><%= @application.status %></h4>
        <p>since <%= @date.mjd - @application.date.mjd != 0 ? @date.mjd - @application.date.mjd : "" %> <%= @date.mjd - @application.date.mjd == 1 ? "day" : @date.mjd - @application.date.mjd == 0 ? "today" : "days" %></p>
      </div>
    </div>
    <h4>Notes:</h4>
    <p><%= @application.notes %></p>
    <div class="spacer"></div>
    <div class="sheet-application-header">
      <div>
        <h4>Resume:</h4>
        <div class="card-file">
          <p>hallo</p>
        </div>
        <div class="card-file">
          <% unless @resume.nil? %><p><%= @resume.name %> – <%= @resume.company %></p><% end %>
        </div>
      </div>
      <div>
        <h4>Cover Letter:</h4>
        <div class="card-file">
          <% unless @cover_letter.nil? %><p><%= @cover_letter.name %> – <%= @cover_letter.company %></p><% end %>
        </div>
      </div>
  </div>
</div>
