<div class="container-l">
  <div class="header-page">
    <h1>Application – <%= @application.company %></h1>
    <div class="icon-btn">
      <%= link_to "<i class='fa-solid fa-edit'></i>".html_safe, edit_application_path(@application) %>
    </div>
  </div>
  <div class="sheet-application">
    <div class="sheet-application-header">
      <div>
        <h4><%= @application.company %></h4>
        <p><%= @application.link %></p>
      </div>
      <div>
        <h4 style="color: <%= @status_color %>"><%= @application.status %></h4>
        <p>since <%= @date.mjd - @application.date.mjd %> <%= @date.mjd - @application.date.mjd == 1 ? "day" : "days" %></p>
      </div>
    </div>
    <h4>Notes:</h4>
    <p><%= @application.notes %></p>
  </div>
</div>
