<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div>
        <h5>Profiler</h5>
        <p><%= link_to "About", about_path %></p>
        <p><%= link_to "info@profilertest.com", "mailto:info@profilertest.com" %></p> <!-- send an email automatically -->
      </div>
      <div>
        <h5>Get Involved</h5>
        <p><%= link_to "Create Resume", cv_path %></p> <!-- create a resume -->
        <p><%= link_to "Create Cover Letter", coverletter_path %></p> <!-- create a cover letter -->
        <p><%= link_to "Manage Applications", applications_path %></p>  <!-- manage applications -->
        <p><%= link_to "About", about_path %></p> <!-- about -->
      </div>
      <div>
        <h5>Follow</h5>
        <p><%= link_to "Instagram", root_path %></p>
        <p><%= link_to "Facebook", root_path %></p>
        <p><%= link_to "LinkedIn", "https://www.linkedin.com" %></p>
        <p><%= link_to "YouTube", root_path %></p>
      </div>
      <div>
        <h5>Legal</h5>
        <p><%= link_to "Statutes", about_path %></p>  <!-- about -->
        <p><%= link_to "Disclaimer", about_path %></p>  <!-- about -->
        <p><%= link_to "Statements", about_path %></p> <!-- about -->
      </div>
    </div>
    <p>© 2023 Profiler | All Rights Reserved</p>  <!-- display the year and the name of the website -->
  </div>
</footer>
