<footer>
  <div class="footer-container">
    <div class="footer-row">
      <div>
        <h5>Profiler</h5>
        <p><%= link_to "About", root_path %></p>
        <p><%= link_to "info@profilertest.com", "mailto:info@profilertest.com" %></p>
      </div>
      <div>
        <h5>Get Involved</h5>
        <p><%= link_to "Create Resume", resume_path %></p>
        <p><%= link_to "Create Cover Letter", coverletter_path %></p>
        <p><%= link_to "Manage Applications", applications_path %></p>
        <p><%= link_to "About", root_path %></p>
      </div>
      <div>
        <h5>Follow</h5>
        <p><%= link_to "Instagram", root_path %></p>
        <p><%= link_to "Facebook", root_path %></p>
        <p><%= link_to "LinkedIn", "https://www.linkedin.com/company/octagon-gobal/" %></p>
        <p><%= link_to "YouTube", root_path %></p>
      </div>
      <div>
        <h5>Legal</h5>
        <p><%= link_to "Statutes", root_path %></p>
        <p><%= link_to "Disclaimer", root_path %></p>
        <p><%= link_to "Statements", root_path %></p>
      </div>
    </div>
    <p>© 2023 Profiler | All Rights Reserved</p>
  </div>
</footer>
