<div class="navbar"> <!-- implement navbar -->
  <%= link_to resumes_path do %> <!-- links to home -->
    <%= image_tag "profiler_logo.png" %> <!-- implement logo, that is clickable -->
  <% end %>
  <div class="bar"> <!-- implement bar within bar -->
    <%= link_to "Resume", resume_path, class: "nav-item" %> <!-- links to Resume-Page -->
    <%= link_to "Cover Letter", coverletter_path, class: "nav-item" %> <!-- links to Cover-Letter-Page -->
    <%= link_to "Applications", applications_path, class: "nav-item" %> <!-- links to Applications-Page -->
  </div>
</div>
