<div class="navbar">
  <%= link_to root_path do %>
    <%= image_tag "profiler_logo.png" %> <!-- implement logo, that is clickable -->
  <% end %>
  <div class="bar">
    <%= link_to "Resumes", root_path, class: "nav-item" %> <!-- links to Home -->
    <%= link_to "Cover Letters", root_path, class: "nav-item" %>
    <%= link_to "Applications", root_path, class: "nav-item" %>
  </div>
</div>
