<div class="cv-entry-header">
  <div>
    <p><strong><%= entry.title %></strong></p>
    <p><i><%= entry.subtitle %></i></p>
  </div>
  <div>
    <p><strong><%= entry.start.strftime('%m/%Y') %>–<%= entry.end.strftime('%m/%Y') %></strong></p>
    <p><i><%= entry.location %></i></p>
  </div>
</div>
<p>- asdhf oisah flkjasdf lkasdjhf laksdjfh asdlkjfh aslkjfdsa iuqhef</p>
