<div class="container-l">
  <div class="header-page">
    <h1>My Resume</h1>
    <div class="d-flex">
      <div class="icon-btn">
        <%= link_to "<i class='fa-solid fa-plus'></i>".html_safe, new_resume_entry_path(@resume_entry) %>
      </div>
      <div class="icon-btn">
        <%= link_to "<i class='fa-solid fa-download'></i>".html_safe, resume_path(@resume, format: :pdf)  %>
      </div>
      <div class="icon-btn">
        <%= link_to "<i class='fa-solid fa-floppy-disk'></i>".html_safe, new_resume_path %>
      </div>
      <div class="icon-btn">
        <%= link_to "<i class='fa-regular fa-bookmark'></i>".html_safe, resumes_path %>
      </div>
    </div>
  </div>
  <div class="sheet-doc">
    <div class="doc-header">
      <h2><%= @user.full_name %></h2>
      <p><%= @user.address %> | <%= @user.email %> | <%= @user.phone %></p>
      <br>
    </div>
    <h4>Education</h4>
    <hr>
    <div class="cv-entries">
      <% @entries_s1.each do |entry| %>
        <%= render "pages/cv_entry", entry: entry %>
      <% end %>
    </div>
    <h4>Work Experience</h4>
    <hr>
    <div class="cv-entries">
      <% @entries_s2.each do |entry| %>
        <%= render "pages/cv_entry", entry: entry %>
      <% end %>
    </div>
    <h4>Skills & Interests</h4>
    <hr>
    <div class="cv-entries">
      <% @entries_s3.each do |entry| %>
        <%= render "pages/cv_entry", entry: entry %>
      <% end %>
    </div>
  </div>
</div>
