<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("background.jpg") %>)">
  <h1>Profiler – Create Yourself</h1>
  <%= link_to "START", resume_path, class: "btn-start" %>
</div>


<div class="container-l">
  <div class="container-m text-center">
    <h3>Where Learning to Fight Means Learning to Make a Difference</h3>
    <p>Willkommen bei Octagon Global, dem offiziellen Verein an der Universität St. Gallen (HSG). Der primäre Zweck des Vereins "Octagon" besteht darin, einen transformativen sozialen Impact durch die Verschmelzung von interkulturellem Austausch und Kampfsport zu erzielen.</p>
  </div>
  <div class="blue-line"></div>
</div>
<div class="banner-grey">
  <div class="container-l">
      <div class="home-grid">
      <div class="card-home">
        <%= image_tag "octagon.png" %>
        <div class="card-home-content">
          <h2>Community</h2>
          <p>Student-led organization with 80+ backers to mix cultural exchange with martial arts, aiming for social impact in the world</p>
        </div>
      </div>
      <div class="card-home">
        <%= image_tag "octagon.png" %>
        <div class="card-home-content">
          <h2>Fighting</h2>
          <p>Currently setting up programs that focus on pushing students out of the comfort zone, envisioning holistic personal growth</p>
        </div>
      </div>
      <div class="card-home">
        <%= image_tag "octagon.png" %>
        <div class="card-home-content">
          <h2>Impact</h2>
          <p>Encouraging resilience and social responsibility, setting new standards for leadership skills and community influence</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-l mb-4">
  <div class="text-center m-5"><h2>Get Involved</h2></div>
  <div class="grid-buttons">
    <%= link_to "Resume", resume_path, class: "btn-outline" %>
    <%= link_to "Cover Letter", coverletter_path, class: "btn-outline" %>
    <%= link_to "Applications", applications_path, class: "btn-outline" %>
    <%= link_to "About", root_path, class: "btn-outline" %>
  </div>
</div>
