<div class="container-l">
  <div class="header-page">
    <h1>My Resume</h1>
    <div class="d-flex">
      <div class="icon-btn">
        <%= link_to "<i class='fa-solid fa-download'></i>".html_safe, resumes_path %>
      </div>
      <div class="icon-btn">
        <%= link_to "<i class='fa-solid fa-floppy-disk'></i>".html_safe, resumes_path %>
      </div>
      <div class="icon-btn">
        <%= link_to "<i class='fa-regular fa-bookmark'></i>".html_safe, resumes_path %>
      </div>
    </div>
  </div>
  <div class="container-sheet">
    <div class="sheet-doc">
      <div class="doc-header">
        <h2><%= @user.full_name %></h2>
        <p><%= @user.address %> | <%= @user.email %> | <%= @user.phone %></p>
        <br>
      </div>
      <h4><%= @resume.section_one %></h4>
      <hr>
      <div class="cv-entries">
        <% @resume.resume_entries.select { |e| e.section == 1}.each do |entry| %>
          <%= render "pages/cv_entry", entry: entry %>
        <% end %>
      </div>
      <h4><%= @resume.section_two %></h4>
      <hr>
      <div class="cv-entries">
        <% @resume.resume_entries.select { |e| e.section == 2}.each do |entry| %>
          <%= render "pages/cv_entry", entry: entry %>
        <% end %>
      </div>
      <h4><%= @resume.section_three %></h4>
      <hr>
      <div class="cv-entries">
        <% @resume.resume_entries.select { |e| e.section == 3}.each do |entry| %>
          <%= render "pages/cv_entry", entry: entry %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="sheet-edit">
    <div class="sheet-edit-title">
      <i class='fa-solid fa-pen'></i>
    </div>

    <div class="cl-edit-entry">

    </div>
  </div>
</div>
