<div style="padding: 30px 50px; font-size: larger">
  <div style="text-align: center">
    <h2 style="margin: 0"><%= @user.full_name %></h2>
    <p style="margin: 0"><%= @user.address %> | <%= @user.email %> | <%= @user.phone %></p>
    <br>
  </div>
  <h4 style="font-size: 26px; margin: 0">Education</h4>
  <hr style="margin: 5px 0">
  <div class="cv-entries">
    <% @entries_s1.each do |entry| %>
    <div style="display: -webkit-box; -webkit-box-pack: justify;">
      <div>
        <p style="margin: 0"><strong><%= entry.title %></strong></p>
        <p style="margin: 0"><i><%= entry.subtitle %></i></p>
      </div>
      <div style="text-align: right">
        <p style="margin: 0"><strong><%= entry.start.strftime('%m/%Y') %>-<%= entry.end.strftime('%m/%Y') %></strong></p>
        <p style="margin: 0"><i><%= entry.location %></i></p>
      </div>
    </div>
    <li><%= entry.bullet_one %></li>
    <li style="margin-bottom: 15px"><%= entry.bullet_two %></li>
    <% end %>
  </div>
  <h4 style="font-size: 26px; margin: 0">Work Experience</h4>
  <hr style="margin: 5px 0">
  <div class="cv-entries">
    <% @entries_s2.each do |entry| %>
    <div style="display: -webkit-box; -webkit-box-pack: justify;">
      <div>
        <p style="margin: 0"><strong><%= entry.title %></strong></p>
        <p style="margin: 0"><i><%= entry.subtitle %></i></p>
      </div>
      <div style="text-align: right">
        <p style="margin: 0"><strong><%= entry.start.strftime('%m/%Y') %>-<%= entry.end.strftime('%m/%Y') %></strong></p>
        <p style="margin: 0"><i><%= entry.location %></i></p>
      </div>
    </div>
    <li><%= entry.bullet_one %></li>
    <li style="margin-bottom: 15px"><%= entry.bullet_two %></li>
    <% end %>
  </div>
  <h4 style="font-size: 26px; margin: 0">Skills & Interests</h4>
  <hr style="margin: 5px 0">
  <% @entries_s3.each do |entry| %>
    <div style="display: -webkit-box; -webkit-box-pack: justify;">
      <div>
        <p style="margin: 0"><strong><%= entry.title %></strong></p>
        <p style="margin: 0"><i><%= entry.subtitle %></i></p>
      </div>
      <div style="text-align: right">
        <p style="margin: 0"><strong><%= entry.start.strftime('%m/%Y') %>-<%= entry.end.strftime('%m/%Y') %></strong></p>
        <p style="margin: 0"><i><%= entry.location %></i></p>
      </div>
    </div>
    <li><%= entry.bullet_one %></li>
    <li style="margin-bottom: 15px"><%= entry.bullet_two %></li>
  <% end %>
</div>
