<!DOCTYPE html>
<html>
  <head>
    <title>Profiler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body-container">  <!-- have to use to make footer stick to the buttom with CSS -->
      <div>
        <%= render "shared/navbar" %> <!-- render the navbar -->
        <%= render "shared/flashes" %>  <!-- render the flashes -->
        <%= yield %>  <!-- render the content of the page -->
      </div>
      <%= render "shared/footer" %> <!-- render the footer -->
    </div>
  </body>
</html>
